<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60293463155-jel6n27q78gfi8ktm2ad6idg9vdb5muv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60293463155-jel6n27q78gfi8ktm2ad6idg9vdb5muv</string>
	<key>API_KEY</key>
	<string>AIzaSyCSBQ-5Zb0ZQcZ20tisrIzqdqgO8svTdEU</string>
	<key>GCM_SENDER_ID</key>
	<string>60293463155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HoangTruong.F-app</string>
	<key>PROJECT_ID</key>
	<string>f-apptestingdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>f-apptestingdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60293463155:ios:1417c34bdb20a90fb3be06</string>
	<key>DATABASE_URL</key>
	<string>https://f-apptestingdatabase.firebaseio.com</string>
</dict>
</plist>